* {
  box-sizing: border-box;
  margin: 0;
}

.container {
  background-image: url("https://assets.ccbp.in/frontend/react-js/congrats-card-bg.png");
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.profilecard {
  background-color: #cffafe;
}
h1 {
  color: #0f172a;
}
